<h2>Crear Promotora</h2>

<%= form_tag(create_direct_url, method: :post) do |f| %>
    <% if @collector.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@collector.errors.count, "error") %> prohibited this collector from being saved:</h2>

          <ul>
            <% @collector.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div><%= label_tag :name %><br />
      <%= text_field_tag :name %></div>

    <div><%= label_tag :email %><br />
      <%= email_field_tag :email %></div>

    <div><%= label_tag 'Nueva Contraseña' %> <i></i><br />
      <%= password_field_tag :password %></div>

    <div><%= label_tag 'Confirmacion de Contraseña' %><br />
      <%= password_field_tag :password_confirmation %></div>

    <div><%= submit_tag "Crear" %></div>
<% end %>

<%= link_to "Back", :back %>